body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    background-image: url("https://cdn.sanity.io/images/bl383u0v/production/fbca713889390dbe7c07b22079de1f5d0afea60f-2323x1291.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #007bff;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* New list (ordered list) styling */
  .schedule-container {
    margin-top: 20px;
  }
  
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  li span.month-number {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 10px;
  }
  
  li span.payment-info {
    font-weight: bold;
  }

 
li:last-child {
    background-color: #d8faff;
  }
  